//"db-" project styles prefix


@import '../../node_modules/bootstrap/scss/bootstrap';

//FONTS
@font-face {
  font-family: "Helvetica Neue Light";
  src: url('../fonts/HelveticaNeueCyr-Light.eot'),
  url('../fonts/HelveticaNeueCyr-Light.eot?#iefix') format("embedded-opentype"),
  url('../fonts/HelveticaNeueCyr-Light.woff') format("woff"),
  url('../fonts/HelveticaNeueCyr-Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Exo Medium';
  src: url('../fonts/Exo20-Medium.eot');
  src: local('../fonts/Exo 2.0 Medium'), local('Exo2.0-Medium'),
  url('../fonts/Exo20-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo20-Medium.woff') format('woff'),
  url('../fonts/Exo20-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


$title-font: 'Exo Medium', sans-serif;
$main-font: 'Helvetica Neue Light', sans-serif;

// COLOURS
$main-color: #3c2f20;
$main-bg: #818181;
$active-button: #8fb52c;
$default-button: #f5f3e8;
$btn-text: #77716a;
$container-bg: #ffffff;
$link-hover-color: #5b84f0;

// breakpoints
$EXTRA_SMALL_VIEW: 575px;
$SMALL_VIEW: 767px;
$MEDIUM_VIEW: 991px;
$LARGE_VIEW: 1199px;

// ============== SHARED STYLES
html {
  font-size: 14px;
}

body {
  background-color: $main-bg;
  min-width: 320px;
  font-family: $main-font;
  color: $main-color;
}

a {
  color: $main-color;
}

a:hover, a:active, a:focus {
  color: $link-hover-color;
  border-bottom: 1px dotted;
  text-decoration: none;
}

h1 {
  font-family: $title-font;
  font-weight: 500;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin: 10px auto 20px;
}

.db-content {
  background-color: $container-bg;
}

.db-buttons-block {
  display: flex;
  flex-wrap: wrap;
}

.db-btn {
  color: $btn-text;
  font-family: $main-font;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;

  span {
    border-bottom: 1px dotted;
  }
}

.db-btn.db-default {
  background-color: $default-button;
}

.db-btn.db-active {
  background-color: $active-button;
}

.db-btn-bonfesto {
  background-image: url(../img/bonfesto-logo.png);
}

.db-btn-vilmonte {
  background-image: url(../img/vilmonte-logo.png);
}

.db-btn-cooking {
  background-image: url(../img/cooking-logo.png);
}

.db-item-content {
  margin: 20px 0;

  .db-item-img {
    width: 100%;
    min-height: 35vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }

  .db-item-img-tartar {
    background-image: url(../img/item1.jpg);
  }

  .db-item-img-horseradish {
    background-image: url(../img/item2.jpg);
  }

  .db-item-img-neapolitana {
    background-image: url(../img/item3.jpg);
  }

  .db-item-name {
    text-transform: uppercase;
    font-family: $title-font;
    margin: 5px 0 7px 0;

    a:not(.db-item-type) {
      font-size: 2.2rem;
      line-height: 2rem;
    }

    .db-item-type {
      font-size: 1.2rem;
      text-transform: lowercase;
      line-height: 1;
    }
  }

  .db-item-name:hover {
    a {
      color: $link-hover-color;
      border-bottom: 1px dotted;
      text-decoration: none;
    }
  }

  .db-item-logo {
    background-image: url(../img/bonfesto-logo-sm.jpg);
    height: 25px;
    width: 75px;
    background-position: center;
    background-size: cover;
  }

  .db-item-description {
    margin-top: 10px;
  }
}

// ======== MEDIA QUERIES

@media (max-width: $SMALL_VIEW) {
  .db-content {
    padding: 20px 10px;

    .db-buttons-block {
      justify-content: center;
    }

    .db-btn-col {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .db-btn {
      width: 100%;
      min-height: 45px;
      border: 2px solid #ffffff;
    }
  }
}

@media (min-width: $SMALL_VIEW + 1) and (max-width: $MEDIUM_VIEW) {
  .db-content {
    .db-buttons-block {
      justify-content: space-between;
    }

    .db-btn-col {
      flex: 0 0 24%;
      max-width: 2%;
    }
  }
}

@media (min-width: $SMALL_VIEW + 1) and (max-width: $LARGE_VIEW) {
  .db-content {
    padding: 20px;

    .db-btn-col {
      flex: 0 0 140px;
      max-width: 140px;
    }

    .db-btn {
      width: 100%;
      min-height: 47px;
    }
  }
}

@media (min-width: $MEDIUM_VIEW + 1) {
  .db-content {
    padding: 20px;

    .db-buttons-block {
      justify-content: center;
    }

    .db-btn-col {
      margin: 0 8px;
      flex: 0 0 140px;
      max-width: 140px;
    }

    .db-btn {
      width: 100%;
      min-height: 47px;
    }
  }
}